<h1><%= @recipe.name %></h1>

<h2>Recipe Author: <%= link_to @recipe.user.name, user_path(@recipe.user) %></h2>

<h3>Ingredients:</h3>
<ul>
    <% @recipe.ingredients.each do |ri| %>
    <li>
        <%= RecIng.find_by(recipe_id: @recipe.id, ingredient_id: ri.id).ing_quantity %> <%= link_to ri.name + "(s)", ingredient_path(ri) %>
    </li>
    <% end %>
</ul>
