<h1><%= @user.name %></h1>


<% @user.recipes.each do |rec| %>
    <%= rec.name %>
<% end %>

<%= link_to "Back to Index", users_path %>
<%= link_to "Delete User", destroy_user_path, method: "DELETE" %>